<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/css_registration\login.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="left">
            <h1 class="WELCOME-text">WELCOME TO VUP !</h1>
            <img src="{% static 'pic/login.png' %}" alt="Login Icon">
            <div class="WELCOME-under">
                <p>Discover new friends</p>
                <p>Enjoy your activity with our web app!</p>
            </div>
        </div>

        <div class="right">
            <h2 class="login-text">LOGIN</h2>

            {% if form.non_field_errors %}
            <div class="error-message">
                <p>{{ form.non_field_errors|first }}</p> <!-- แสดงข้อความแรกเท่านั้น -->
            </div>
            {% endif %}
        

            <form method="POST">
                <div class="login_box">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="forgot">
                        <a href="{% url 'reset_password' %}">Forgot Password?</a>
                    </div>
                    <button type="submit" class="login-button">LOGIN</button>
                </div>
            </form>
            <div class="register">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</body>
</html>
