{% extends 'main/base.html' %}

{% block main %}
<div class="flex flex-col justify-center min-h-screen" style="background: linear-gradient(to right, #59758d, #96b2d3, #95c6da, #abd0df);;">
    <div class="mx-auto w-1/2">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold">Password Reset Sent</h2>
            <div class="my-3">
                <p>We’ve emailed you instructions for setting your password. You should receive the email shortly!</p>
                <p>If you don’t receive an email, please check your spam folder or <a class="badge badge-info badge-outline " href="{% url 'password_reset' %}">try again</a>.</p>

            </div>
        </div>

        
                
    </div>
</div>

{% endblock %}
