{% extends 'main/base.html' %}

{% block main %}
<div class="flex flex-col justify-center min-h-screen" style="background: linear-gradient(to right, #59758d, #96b2d3, #95c6da, #abd0df);;">
    <div class="mx-auto w-1/2">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold">Password Reset Complete</h2>
            <div class="my-3">
                <p>Your password has been set successfully. You can now <a class="badge badge-info badge-outline" href="{% url 'user-login' %}">login</a> with your new password.</p>
            </div>
        </div>
         
    </div>
</div>

{% endblock %}


