{% extends 'main/base.html' %}

{% block main %}
<div class="flex flex-col justify-center min-h-screen" style="background: linear-gradient(to right, #59758d, #96b2d3, #95c6da, #abd0df);;">
    <div class="mx-auto w-1/4">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold">Set a New Password</h2>
            <div class="my-3  ">
                <form method="post">
                    {% csrf_token %}
                    <div class="label">
                        <span class="label-text font-bold">New password</span>
                    </div>
                    <input type="password" id="new_password1" name="new_password1"   class="input input-bordered w-full max-w-xs" />
                
                    <div class="label">
                        <span class="label-text font-bold">Confirm new password</span>
                    </div>
                    <input type="password" id="new_password2" name="new_password2"   class=" input input-bordered w-full max-w-xs" />
                    
                    <div class="my-3">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change my password</button>
                    </div>
                    
                  </form>

            </div>
        </div>

        
                
    </div>
</div>
 
  
{% endblock %}