/* reset_password.css */
body {
    font-family:"Anuphan", sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url('/static/pic/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

.reset-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.reset-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
}

form button {
    padding: 12px;
    background-color: #221a6b;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.back-link {
    text-align: center;
    margin-top: 10px;
}

.back-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.back-link a:hover {
    text-decoration: underline;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(72, 133, 255, 0.5);
}