<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    
    {% load static %}
    <link href="{% static 'css/css_member/chat.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- เมนู -->
    a<div class="menu-container">
        <div class="profile-section">
            <img src="{{ member_data.profile.url }}" alt="Profile Image" class="profile-image">
            <p class="username">{{ member_data.username }}</p>
            <button id="openModal" class="new-event-btn">+ New Event</button>
        </div>

        <div class="menu-items">
            <a class="menu-item home-btt " href="{% url 'feed' %}">
                <i class="fa-solid fa-earth-americas"></i>Feed
            </a>
            <a class="menu-item profile-btt " href="{% url 'profile' %}">
                <i class="fas fa-user"></i> Profile
            </a>
            <a class="menu-item chat-btt active" href="{% url 'chat' %}">
                <i class="fas fa-comment"></i> Chat
            </a>
            <a class="menu-item activity-btt " href="{% url 'my_activity' %}">
                <i class="fa-solid fa-bolt"></i></i>Activity
            </a>
        </div>


        <a href="{% url 'logout' %}" class="logout">
            Logout
        </a>
    </div>

    <div class="outer-box">
        <div class="profile-header" style="display: inline-flex; align-items: center; gap: 8px;">
            <i class="fa-regular fa-comments"></i>
            <p class="my_profile_head" style="margin: 0;">Chat</p>
        </div>
        
               
        <div class="inner-box">
            <div class="box-profile-show">
                <!-- <img src="{{ member_data.profile.url }}" alt="Profile Image" class="profile-image-show">
                
                <div class="in-box-profile-show">
                    <p class="username-profile">{{ member_data.username }}</p>
                    
                    <div class="box-age">
                        <p class="age">{{ member_data.age }}Y</p>
                    </div>
                </div> -->
           </div>
            

            <div class="content-box">
            </div>
        </div>
    </div>
    
        <div>
            {% include 'member/notification.html' %}
        </div>

    
</body>
</html>
