      
body,html{
    font-family:"Anuphan", sans-serif;
    background-color: #f0eeee;
    /* margin-left: 30%; */
}

.menu-container {
    width: 200px;
    background-color: #2b3f65;
    color: white;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 40px 40px 0;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 2px solid #d1d1d1;
    margin-top: 30px;
}

.username {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

/* New event button */
.new-event-btn {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px; 
    transition: all 0.3s ease;
    margin-top: 20px;
}

.new-event-btn:hover {
    cursor: pointer; 
    transform: scale(1.1); /* ขยายขนาดปุ่ม */
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
}

.menu-item {
    width: 80%; 
    margin-left: 10px;
    padding: 20px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background 0.3s;
    margin-bottom: 10px;
    border-radius: 25px 0 0 25px;
}


.menu-item.active {
    background-color: #ffffff;
    font-weight: bolder;
    color: #2b3f65;
    border-radius: 25px 0 0 25px;
}

.menu-item:hover {
    background-color: #f0eeee;
    color: #1c2b4a;
    font-weight: bold;
    border-radius: 25px 0 0 25px;
    text-align: center;
}

i {
    margin-right: 8px;
}

.profile-header {
    display: flex;
    align-items: center; /* จัดให้ไอเทมอยู่ตรงกลางในแนวตั้ง */
    /* gap: 0px;  */
    font-weight: bold;
    font-size: 18px;
}

.profile-header i {
    font-size: 20px; /* ปรับขนาดไอคอนตามที่ต้องการ */
}

.my_profile_head {
    margin: 0; /* เอา margin เริ่มต้นออกจาก p tag */
}


.logout {
    padding: 10px 25px;
    color: #ffffff;
    font-weight: normal;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.logout:hover {
    background-color: #aa3129;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 0;
}

.outer-box {
/* display: flex; */
justify-content: center;
align-items: center;
padding: 20px;
background-color: #ffffff; 
width: 50%; 
margin: 0 auto; 
border-radius: 20px; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
margin-right: 29%;
margin-top: 30px;
margin-bottom: 30px;
}



.content-box {
/* border: 4px solid #f65c5c;  */
padding: 15px;
border-radius: 8px; 
background-color: #ede9fe; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
margin-top: 20px;
}



