/* สไตล์สำหรับ body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* สไตล์สำหรับชื่อห้องแชท */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* สไตล์สำหรับข้อมูลห้องแชท */
/* .chat-room {
    background-color: white;
    margin: 20px auto;
    margin-bottom: 100px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* กำหนดขนาดของรูปโปรไฟล์ */
/* .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    object-fit: cover; 
    margin-right: 10px;  
} */

/* ใช้ Flexbox เพื่อให้รูปโปรไฟล์และชื่ออยู่ข้างกัน */
/* .message-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
} */

/* กำหนดการแสดงข้อความ */
/* .message-content {
    margin-left: 50px;  
} */

/* สไตล์สำหรับแสดงข้อความ */
#chat-log {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffd8ef;
    border: 1px solid #bebebe;
    border-radius: 10px;
    height: 300px;
    overflow-y: auto;
    
}

/* ข้อความจากสมาชิก */
/* .user-message {
    background-color: #e7f7ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid #007bff;
} */

/* ข้อความระบบ */
/* .system-message {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b3b3b3;  
    text-align: center;
} */

/* ฟอร์มข้อความ */
input#chat-message-input {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button#chat-message-submit {
    width: 80%;
    padding: 12px;
    background-color: #f86fbb;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button#chat-message-submit:hover {
    background-color: #c72e87;
}


/* .chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} */

.chat-message {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.chat-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* .chat-message  {
    background: #c23535;
    padding: 10px 15px;
    border-radius: 12px;
    max-width: 75%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
} */

.message-content{
    background: #dddddd;
    padding: 5px 5px;
    border-radius: 12px;
    max-width: 75%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}
.chat-message {
    font-size: 12px;
    color: #bd2020;
    margin-top: 2px;
}

.chat-message.system {
    justify-content: center;
    font-size: 14px;
    color: #888;
    font-style: italic;
}

.sender-name {
    font-weight: bold;
    color: #333;
}
